<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/simple.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <script src="{{"/assets/js/mermaid.min.js" | relative_url }}">
    {% seo %}
</head>
<body>
    <header>
        <nav>
            <a href="{{ "/" | relative_url }}">All</a>
            {%- for category in site.categories -%}
                <a href="{{ category | first | slugify | relative_url}}">{{ category | first }}</a>
            {% endfor -%}
        </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
        <a href="https://xade.eu/">https://xade.eu/</a>
    </footer>
</body>
</html>
